<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% t = Date.today.strftime("%A, %B %d, %Y") %>
    <h1> The date is <%= t %> </h1>
  </body>
</html>
